<!DOCTYPE html>
<html>

<head>
  <title>{{ title }}</title>
  <link href="../styles/style.css" rel="stylesheet">
  <link href="../styles/prism.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--<link rel="preconnect" href="https://fonts.googleapis.com">-->
  <!--<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>-->
  <!--<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">-->
  <script>
    /*to prevent Firefox FOUC, this must be here*/
    let FF_FOUC_FIX;
  </script>
</head>

<body>
  <div class="container">
    {{{ content }}}
  </div>
  <script src="../scripts/prism.js"></script>
</body>

</html>
