<style>
/* :root { */
/*   --light-bg: #faf4ed; */
/*   --light-purple: #907aa9; */
/*   --light-text: #575279; */
/**/
/*   --dark-bg: #232136; */
/*   --dark-purple: #c4a7e7; */
/*   --dark-text: #e0def4; */
/* } */


.timeline-container {
    max-width: 800px;
      margin: 50px auto;
      border-left: 2px solid #333; /* Add left solid border */
      padding-left: 0px; /* Add some left padding to separate content from the border */
}

.timeline-container ul {
    padding-left: 20px;
}

.timeline-item {
  position: relative;
  padding-left: 30px;
  margin-bottom: 30px;
}

.timeline-list::before {
  content: '';
  position: absolute;
  left: 5px;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: #333;
}

/* .timeline-item::before { */
/*   content: ''; */
/*   position: absolute; */
/*   left: 5px; */
/*   top: 0; */
/*   width: 2px; */
/*   height: 100%; */
/*   background-color: #333; */
/* } */

.timeline-date {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.timeline-content {
  font-size: 16px;
  line-height: 1.5;
  color: #555;
}
</style>
