body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
  white-space: nowrap;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.playbtn {
  margin: 25px;
  display: inline-block;
  height: 100px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
  background-color: rgb(255, 167, 248);
  text-align: center;
}

.play-restart {
  margin-top: 20px;
}

.restart {
  background-color: rgb(255, 167, 248);
  opacity: 0.8;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
