@import url("color.css");
@font-face {
    font-family: 'NFMono';
    src: url('/styles/nfmono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: monospace;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: var(--uchu-pink-4);
    color: var(--uchu-yin-9);
    font-size: 16px;
}

code {
    font-weight: bold;
    color: var(--uchu-purple-9);
}

a.icon {
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    font-family: NFMono;
}


.container {
    /*max-width: 800px;*/
    font-size: 1.1rem;
    max-width: 60ch; 
    width: 90%; 
    padding: 20px;
    margin: 40px 0;
    line-height: 1.6; 
}

.container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 8px; 
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5); 
}
.container figure {
    text-align: center; 
    display: inline-block; 
    margin: 10px auto;
}

.container figcaption {
    font-size: 0.9rem;
    color: var(--uchu-pink-9); 
    margin-top: 5px;
}

.container blockquote {
    font-style: italic;
    color: var(--uchu-yin-7);
}
.container pre {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5); 
    font-family: monospace;
    background-color: var(--uchu-red-1);
    padding: 16px; /* Larger padding */
    border-radius: 8px; /* More rounded corners */
    overflow-x: auto; 
    line-height: 1.5; 
}

.home-container {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.home-container > h1 {
    font-size: 2.5rem;
    margin: 0px;
}

.home-container .links-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.links-container > a {
    color: var(--uchu-yin-8);
    text-decoration: none;
}

.links-container > a:hover {
    text-decoration: underline;
}


.icon-container > a {
    color: var(--uchu-yin-8);
    text-decoration: none;
}

.index-container > a {
    display: block;
    text-decoration: none;
    color: var(--uchu-yin-9);
}

.index-container > a:hover {
    text-decoration: underline;
}

