@import url("color.css");

body {
    font-family: JetBrains Mono, monospace;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: var(--uchu-pink-4);
}

.container {
    /*max-width: 800px;*/
    font-size: 1.1rem;
    color: var(--uchu-yin-9);
    max-width: 60ch; 
    width: 90%; 
    padding: 20px;
    margin: 40px 0;
    line-height: 1.6; 
}

.container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 8px; 
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5); 
}
.container figure {
    text-align: center; 
    display: inline-block; 
    margin: 10px auto;
}

.container figcaption {
    font-size: 0.9rem;
    color: var(--uchu-pink-9); 
    margin-top: 5px;
}

.container blockquote {
    font-style: italic;
    color: var(--uchu-yin-7);
}
.container pre {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5); 
    font-family: monospace;
    background-color: var(--uchu-red-1);
    padding: 16px; /* Larger padding */
    border-radius: 8px; /* More rounded corners */
    overflow-x: auto; 
    line-height: 1.5; 
}
