@import url("color.css");

body {
    font-family: monospace;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: var(--uchu-red-2);
}

.container {
    /*max-width: 800px;*/
    font-size: 1.1rem;
    color: var(--uchu-yin-9);
    max-width: 60ch; 
    width: 90%; 
    background: var(--uchu-red-2);
    padding: 20px;
    margin: 40px 0;
    line-height: 1.6; 
}

.container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 8px; 
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5); 
}
.container figure {
    text-align: center; 
    display: inline-block; 
    margin: 10px auto;
}

.container figcaption {
    font-size: 14px;
    color: var(--uchu-yin-5); 
    margin-top: 5px;
}

.container code {
    font-family: monospace;
    background-color: var(--uchu-red-1);
    padding: 2px 6px; /* Small padding */
    border-radius: 4px; /* Slightly rounded corners */
    color: var(--uchu-red-4); /* Pinkish color for code text */
}

.container blockquote {
    font-style: italic;
    color: var(--uchu-yin-7);
}
.container pre {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5); 
    font-family: monospace;
    background-color: var(--uchu-red-1);
    padding: 16px; /* Larger padding */
    border-radius: 8px; /* More rounded corners */
    color: var(--uchu-yin-9); /* Dark text color */
    overflow-x: auto; 
    line-height: 1.5; 
}

.container pre code {
    background-color: transparent; /* Remove background for nested code */
    padding: 0; /* Remove padding for nested code */
    border: none; /* Remove border for nested code */
    color: inherit; /* Inherit text color from <pre> */
}
