body {
    font-family: 'Roboto Mono', monospace;
}
a {
    text-decoration: none;
}

a:link {
  color: #292929;
  background-color: transparent;
  text-decoration: none;
}
/*  */
a:visited {
  color: #292929;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #B37AFF;
  background-color: transparent;
}

a:active {
  color: #B37AFF;
  background-color: transparent;
}

.header {
    text-align: center;
    padding: 3rem 0;
    font-size: 2rem;
}

.lower-header {
    text-align: center;
    padding: 0 0 3rem 0;
    font-size: 4rem;
}

#title {
    background-color: #292929;
    color: white;
}
.name {
    padding: auto;
    margin: auto;
}
.circuit {
    width: 40%;
}

.circuitl {
    text-align: left;
    overflow: hidden;
}

.circuitr {
    text-align: right;
    overflow: hidden;
}
.titlecontainer {
    padding: 2em 0;
}
.titlename {
    overflow: hidden;
    padding: 0;
}

.light {
    font-weight: 300;
}
.info {
    padding: 5rem 0;
    text-align: center;
    width: 50%;
    margin: auto;
}
.info-paragraph {
    margin: 20px auto;
    text-align: left;
    font-size: 1.4em;
    width: 80%;
    line-height: 1.7em;


}

.info-paragraph-narrow {
    width: 60%;
    text-align: center;
}
.info-img {
    width: 100%;
    margin: 20px auto;
}

.link {
    padding: 5%;
    align-items: center;
    text-align: center;
}


.here:link {
    color: #B37AFF;
    text-decoration: none;
}

.li-link {
    font-size: 1.3rem;
    text-align: left;
}