<h1>Comments</h1>
<div class="commentForm"> 
  <form id="commentForm">
    <input type="text" name="author" placeholder="Your name" required>
    <input type="number" name="challenge_response" placeholder="Challenge Solution" required>
    <input type="hidden" name="challenge_id" id="challenge_id" >
    <textarea name="content" placeholder="Your comment" required></textarea>
    <button type="submit">Post Comment</button>
  </form>
  <button id="challengeButton">Generate Challenge</button>
</div> 
<div id="comments"></div>
<link href="/styles/comment.css" rel="stylesheet">
<script src="/scripts/comment.js"></script>
