<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base
      href="{{{ path }}}"
  >
    <link rel="icon" href="/favicon.gif">
    <link href="/styles/style.css" rel="stylesheet">
    <script>
      /*to prevent Firefox FOUC, this must be here*/
    let FF_FOUC_FIX;
    </script>
  </head>
  <body>
    <div class="container">
      <div class="menu">
        <a style="font-weight: bold;" href="/">andreano.dev</a>
        <a style="font-style: italic;" href="/about">/about</a>
        <a style="font-style: italic;" href="/blog">/blog</a>
        <a style="font-style: italic;" href="/etc">/etc</a>
      </div>
      <div class="index-container">
        {{{ content }}}
      </div>
    </div>
  </body>
</html>
